<div class="cart-container">
    <h2>Cart</h2>

    <div class="cart-item-container" *ngIf="cart.items.length > 0; else emptyCart">
        <div *ngFor="let item of cart.items" class="cart-item">
            <div class="cart-item-details-container">
                <img [src]="item.imageUrl" alt="{{ item.name }}" class="cart-item-image">
                <div class="cart-item-details">
                    <h3 class="item-name">{{ item.name }}</h3>
                    <label class="category-name">Category : {{ item.category }}</label>
                    <label>{{ item.price | number:'1.2-2' }} ฿</label>
                </div>
            </div>

            <div class="quantity-control">
                <button (click)="updateQuantity(item, -1)">-</button>
                <input type="number" [(ngModel)]="item.quantity" (change)="updateQuantity(item, 0)" min="1" />
                <button (click)="updateQuantity(item, 1)">+</button>
            </div>

            <div class="cart-item-details-summary">
                <label class="item-total">{{ item.totalPrice | number:'1.2-2' }} ฿</label>
                <a (click)="removeFromCart(item.id)" class="delete-link">Delete</a>
            </div>
        </div>
    </div>

    <ng-template #emptyCart>
        <div class="cart-item-container">
            <div class="d-flex w-100 justify-content-center align-items-center flex-column">
                <p>Your cart is empty.</p>
            </div>
        </div>
    </ng-template>



    <div class="coupon-section">
        <div class="d-flex justify-content-between align-items-center">
            <label class="text-link" (click)="showCouponList()">Coupon List</label>
            <label class="text-link" (click)="showAddCouponModal()">Add New Coupon</label>
        </div>
        <div class="from-row">
            <div class="d-flex gap-3 align-items-center">
                <input type="checkbox" id="isUsePoint" name="isUsePoint" [(ngModel)]="isUsePoint"
                    (change)="onPointAmountChange()">
                <label for="isUsePoint">Use Point To Discount</label>
            </div>

            <input class="custom-input" id="pointAmount" name="pointAmount" [(ngModel)]="pointAmount" type="number"
                *ngIf="isUsePoint" type="search" />

            <div class="d-flex flex-column" *ngIf="isUsePoint">
                <label *ngIf="isUsePoint" class="text-danger">*1 Point = 1 ฿</label>
                <label *ngIf="isUsePoint" class="text-danger">*Points can be used for up to 20% of the total
                    price</label>
                <label *ngIf="isUsePoint" class="text-danger">*Points cannot be used together with the "On Top"
                    Coupon</label>
            </div>
        </div>

        <div class="coupon-container" *ngIf="couponUseList.length > 0">
            <label class="coupon-name">Coupon Apply</label>
            <div *ngFor="let coupon of couponUseList" class="coupon-item">
                <div class="coupon-header">
                    <label class="coupon-name">{{coupon.description}}</label>
                    <button class="remove-btn" (click)="onRemoveFromList(coupon)">
                        Remove
                    </button>
                </div>
                <div class="d-flex gap-3 align-items-center">
                    <label class="coupon-name">Category : {{coupon.category}}</label>
                </div>
                <div class="d-flex gap-3 align-items-center">
                    <label class="coupon-code">Code :{{coupon.code}}</label>
                </div>
                <div class="coupon-details">
                    <label class="coupon-discount" *ngIf="coupon.amount">
                        Discount: {{ coupon.amount | number }} {{coupon.isPercent ? '%' : '฿'}},
                    </label>
                    <label class="coupon-discount" *ngIf="coupon.category == EnumCouponType.OnTop">
                        Category : {{coupon.unit}}
                    </label>
                    <label class="coupon-discount" *ngIf="coupon.category == EnumCouponType.Seasonal">
                        Discount Every : {{coupon.every | number}} ฿
                    </label>
                </div>
            </div>
        </div>

        <button (click)="checkout()">Check Out</button>

        <div class="cart-item-container" *ngIf="response">
            <div class="cart-summary">
                <div class="price-container">
                    <span class="total-price"
                        [ngStyle]="{ 'text-decoration': response.totalPrice > response.finalPrice ? 'line-through' : 'none' }">
                        {{ response.totalPrice }} ฿
                    </span>
                </div>

                <div class="discount-info">
                    <p class="final-price">Final Price: {{ response.finalPrice }} ฿</p>
                    <p class="discount">Discount: {{ response.discount }} ฿</p>
                </div>

                <div class="points-info">
                    <p>Points Used: {{ response.pointUsed }} points</p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #couponTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Coupon</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="coupon-container" *ngIf="couponList.length > 0; else noCoupons">
            <div *ngFor="let coupon of couponList" class="coupon-item">
                <div class="coupon-header">
                    <label class="coupon-name">{{coupon.description}}</label>
                    <label *ngIf="coupon.isCustom" class="delete-link"
                        (click)="onDeleteCoupon(coupon.code)">Delete</label>
                </div>
                <div class="d-flex gap-3 align-items-center">
                    <label class="coupon-name">Category : {{coupon.category}}</label>
                </div>
                <div class="d-flex gap-3 align-items-center">
                    <label class="coupon-code">Code :{{coupon.code}}</label>

                    <button class="copy-btn" (click)="onApplyFromList(coupon)" *ngIf="canApplyCoupon(coupon)">
                        Apply
                    </button>

                    <button class="remove-btn" (click)="onRemoveFromList(coupon)" *ngIf="!canApplyCoupon(coupon)">
                        Remove
                    </button>
                </div>
                <div class="coupon-details">
                    <label class="coupon-discount" *ngIf="coupon.amount">
                        Discount: {{ coupon.amount | number }} {{coupon.isPercent ? '%' : '฿'}},
                    </label>
                    <label class="coupon-discount" *ngIf="coupon.category == EnumCouponType.OnTop">
                        Category : {{coupon.unit}}
                    </label>
                    <label class="coupon-discount" *ngIf="coupon.category == EnumCouponType.Seasonal">
                        Discount Every : {{coupon.every | number}} ฿
                    </label>
                </div>
            </div>
        </div>

        <ng-template #noCoupons>
            <p>No coupons available.</p>
        </ng-template>
    </div>
</ng-template>

<ng-template #newCouponTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Coupon</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
                {{getCategoryText()}}<span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" (click)="selectCategory(EnumCouponType.Coupon)">Coupon</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" (click)="selectCategory(EnumCouponType.OnTop)">On Top</a>
                </li>
                <li role="menuitem"><a class="dropdown-item"
                        (click)="selectCategory(EnumCouponType.Seasonal)">Seasonal</a></li>
            </ul>
        </div>

        <form (ngSubmit)="onConfirmAddCoupon()" #couponForm="ngForm">

            <label class="coupon-name mt-3">Summary</label>

            <div class="coupon-preview"
                *ngIf="newCoupon.description || newCoupon.code || newCoupon.amount; else noSummary">
                <div class="coupon-header" *ngIf="newCoupon.description">
                    <label class="coupon-name">{{newCoupon.description}}</label>
                </div>
                <div class="d-flex gap-3 align-items-center" *ngIf="newCoupon.category">
                    <label class="coupon-name">Category : {{newCoupon.category}}</label>
                </div>

                <div class="d-flex gap-3 align-items-center" *ngIf="newCoupon.code">
                    <label class="coupon-code">{{newCoupon.code}}</label>
                </div>

                <div class="coupon-details">
                    <label class="coupon-discount" *ngIf="newCoupon.amount">
                        Discount: {{ newCoupon.amount | number }} {{newCoupon.isPercent ? '%' : '฿'}},
                    </label>
                    <label class="coupon-discount" *ngIf="newCoupon.category == EnumCouponType.OnTop">
                        Category : {{newCoupon.unit}}
                    </label>
                    <label class="coupon-discount" *ngIf="newCoupon.category == EnumCouponType.Seasonal">
                        Discount Every : {{newCoupon.every | number}} ฿
                    </label>
                </div>
            </div>

            <ng-template #noSummary>
                <div class="coupon-preview">
                    <p>No Coupon Details</p>
                </div>
            </ng-template>

            <div *ngIf="newCoupon.category">
                <div class="from-row">
                    <label require for="couponName">Coupon Name</label>
                    <input class="custom-input" id="couponName" name="couponName" [(ngModel)]="newCoupon.description"
                        type="text" />
                </div>

                <div class="from-row">
                    <label require for="couponCode">Coupon Code</label>
                    <input class="custom-input" id="couponCode" name="couponCode" [(ngModel)]="newCoupon.code"
                        type="text" />
                </div>

                <div class="d-flex gap-3 " *ngIf="newCoupon.category != EnumCouponType.Seasonal">
                    <input type="checkbox" id="isPercent" name="isPercent" [(ngModel)]="newCoupon.isPercent">
                    <label for="isPercent">Percentage Discount</label><br>
                </div>

                <div class="from-row">
                    <label require for="amount">Amout {{newCoupon.isPercent ? '(%)' : '(฿)'}}</label>
                    <input class="custom-input" id="amount" name="amount" [(ngModel)]="newCoupon.amount"
                        type="number" />
                </div>

                <div class="from-row" *ngIf="newCoupon.category == EnumCouponType.OnTop">
                    <label require for="category">Category To Discount</label>
                    <input class="custom-input" id="category" name="category" [(ngModel)]="newCoupon.unit"
                        type="text" />
                </div>

                <div class="from-row" *ngIf="newCoupon.category == EnumCouponType.Seasonal">
                    <label require for="every">Discount Every (฿)</label>
                    <input class="custom-input" id="every" name="every" [(ngModel)]="newCoupon.every" type="number" />
                </div>

                <div class="text-end">
                    <button type="submit" class="button-submit" [disabled]="!couponForm.form.valid">Confirm</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>